{% extends 'base.html' %}

{% block head %}
<title>Zhao Yong</title>
{% endblock %}

{% block body %}
<div id="input">
    <form method="post">
        {% csrf_token %}
        {{ form_add.as_p }}
        <button type="submit">Add</button>
    </form>
</div>

<div id="checking">
    <form method="post">
        {% csrf_token %}
        {{ form_check.as_p }}
<!--
        <select name="location">
            {% for item in data %}
                <option value="{{ item.lat }},{{ item.long }}">{{ item.lat }}, {{ item.long }}</option>
            {% endfor %}
        </select>
-->
        <button type="submit">Locate</button>
    </form>
</div>
<p>
    {{ item.lat }}<br/>
    {{ item.long }}<br/>
</p>
{{ reverse_geocode_result.0.formatted_address }}
<div id="map"></div>

<script>
    //Initialize and add the map
    function initMap(){
        var centre = {lat: {{ latitude }}, lng: {{ longitude }}};
        var map = new google.maps.Map(document.getElementById('map'),{zoom: 12, center: centre});
        var marker = new google.maps.Marker({position: centre, map:map});
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjb0Uy0iwnBrPZlAZnyl78jjPQ93w5oU&callback=initMap"></script>
{% endblock %}

