{% extends 'base.html' %}

{% block head %}
<title>Google Map Trial</title>
{% endblock %}

{% block body %}
<h3>Google Map Trial</h3><br/>
<div class="form">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Locate</button>
</form>
</div>

<div id="map"></div>

<script>
    //Initialize and add the map
    function initMap(){
        var centre = {lat: {{ latitude }}, lng: {{ longitude }}};
        var map = new google.maps.Map(document.getElementById('map'),{zoom: 10, center: centre});
        var marker = new google.maps.Marker({position: centre, map:map});
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjb0Uy0iwnBrPZlAZnyl78jjPQ93w5oU&callback=initMap"></script>
{% endblock %}
