header{
    height: 100vh;
    background-size: cover;
    background: url("https://www.iotworldtoday.com/files/2017/09/Internet_of_Things_abstract-4-770x285.jpg") center;
}

body {
    /*background-image: url("bg.jpg");*/
    height: 100%;
}

span.navbar{
    color: #fb7f4a;
}

p {
    color: black;
}

#map {
    width: 800px;
    height: 400px;
}